.vscode-server*

output/c-dns/*
!output/c-dns/.initalised

output/logs/*
!output/logs/bind/.initalised
!output/logs/.initalised

output/pcap/*
!output/pcap/.initalised

output/query-cannon/*
!output/query-cannon/.initalised

output/tap/*
!output/tap/.initalised

output/tshark/*
!output/tshark/.initalised

docker-c-dns-presenter/data/*
!docker-c-dns-presenter/data/.initalised

docker-elk/data